.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#main-header{
    background-color: #ffffff;
    padding: 15px 0;
}

#main-header .navbar{
    display: flex;
    justify-content: space-around;
    height: 92px;
    max-width: 1600px;
    align-items: center;
    gap: 120px;
}

.li-links{
    display: flex;
    list-style: none;
    gap: 32px;
}

.li-links a{
    text-decoration: none;
}

.li-links a li{
    color: black;
}

.btnone{
    background-color: #08662f;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    gap: 10px;
    padding: 12px 16px;
}

#bg-section{
    width: 1600px;
    height: 674px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 7px;
    padding: 8px 12px 8px 12px;
}

#bg-section{
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.bg-p{
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 154px;
    font-weight: bold;
    border-radius: 1000px;
    background-color: #ffffff;
    padding: 8px 20px;
    color: #30B868;
}

.bg-p .bg-p-dot{
    color: #30B868;
}

.h1-text{
    color: #ffffff;
    font-weight: bold;
    line-height: 84px;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
}

.h-span{
    color: #30B868;
}

.extra-p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}


.btntwo{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 25px;
    gap: 20px;
}

.btntwo .btn{
    background-color: #08662f;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    gap: 10px;
    padding: 12px 16px;
}

.btntwo .bg-btn{
    background: none;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: bold;
    padding: 12px 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.card-text{
    text-align: center;
    margin-top: 40px;
    gap: 17px;
}

.card-text h1{
    font-weight: 800;
    font-size: 4rem;
}

.card-text p{
    font-size: 1.4rem;
}

#card{
    width: 1600px;
    height: 448px;
}

#card-section .card{
    width: 322px;
    height: 300px;
    gap: 16px;
    margin-top: 44px;
}

.card-container{
    display: flex;
    margin-left: 120px;
    gap: 20px;
}

.card-container .card{
    background-color: #ffffff;
    gap: 20px;
    box-shadow: 2px 2px 8px 2px rgb(82, 80, 80);
}

.card{
    text-align: center;
    justify-content: center;
}

.card img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 15px;
    margin-top: 60px;
    margin-left: 10px;
}

.card p{
    color: #627382;

}
.card h4, p{
    margin-left: 10px;
}

.card h4{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1.2;
}

#two-card-section{
    width: 1600px;
    height: 840px;
}

.tcs-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 120px;
    gap: 60px;
}

.two-card h1{
    font-size: 3rem;
}

.two-card .tc-p{
    color: #30B868;
}

.tc-two-p{
    color: #627382;
}

.two-card h1{
    margin-left: 9px;
}

.two-card .card-img{
    margin-top: 40px;
}

#challenges{
    height: 506px;
    width: 1600px;
}

#challenges .challenges-container{
    background-color: #F7F6F2;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0px 120px 120px;
    height: 384px;
}

.challenges-container h1{
    font-size: 2.5rem;
}

.challenges-container p{
    color: #627382;
}

#footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #001931;
    height: 348px;
    width: 1600px;
}

#footer-info p{
    color: #ffffff;
}

.social-links a{
    margin-left: 10px;
    color: #F7F6F2;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1000px;
    width: 1360px;
}

hr{
    width: 1200px;
    margin-top: 100px;
    border-top: 2px solid #F7F6F2;
    opacity: 0.3;
}