.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#main-header{
    background-color: #ffffff;
    padding: 15px 0;
}

#main-header .navbar{
    display: flex;
    justify-content: space-around;
    max-width: 1600px;
    align-items: center;
    gap: 120px;
}

.li-links{
    display: flex;
    list-style: none;
    gap: 32px;
}

.li-links a{
    text-decoration: none;
}

.li-links a li{
    color: black;
}

.btnone{
    background-color: #08662f;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    gap: 10px;
    padding: 12px 16px;
}

#bg-section{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 7px;
    padding: 8px 12px 8px 12px;
}

#bg-section{
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.bg-p{
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 154px;
    font-weight: bold;
    border-radius: 1000px;
    background-color: #ffffff;
    padding: 8px 20px;
    color: #30B868;
}

.bg-p .bg-p-dot{
    color: #30B868;
}

.h1-text{
    color: #ffffff;
    font-weight: bold;
    line-height: 84px;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
}

.h-span{
    color: #30B868;
}

.extra-p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}


.btntwo{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 25px;
    gap: 20px;
}

.btntwo .btn{
    background-color: #08662f;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    gap: 10px;
    padding: 12px 16px;
}

.btntwo .bg-btn{
    background: none;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: bold;
    padding: 12px 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}
