.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#main-header{
    background-color: #ffffff;
    box-shadow: 0 2px 15px;
    padding: 15px 0;
}

#main-header .navbar{
    display: flex;
    justify-content: space-around;
    max-width: 1600px;
    align-items: center;
    gap: 120px;
}

.li-links{
    display: flex;
    list-style: none;
    gap: 32px;
}

.li-links a{
    text-decoration: none;
}

.li-links a li{
    color: black;
}

.btn{
    background-color: #08662f;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    gap: 10px;
    padding: 12px 16px;
}
